:root {
  background: #111827;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  min-height: 100vh;
  height: 100dvh;
}

#app canvas {
  display: block;
}
